

@import "normalize.scss";
@import "colors.scss";
@import "fonts.scss";
@import "mixins.scss";


.productImages{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 3fr;
    width: 98%;
    padding: 0.2rem;

    picture{
      border-radius: 25px;
      
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: inherit;
      }

      &:nth-child(1){
        grid-row: 1/4;
        grid-column: 2/3;

        img{
          padding: 0.5rem;
        }
      }

      &:nth-child(2){
        grid-row: 1/2;
        grid-column: 1/2;
        
        img{
          max-width: 100%;
          padding-right: 0.5rem;
        }
      } 

      &:nth-child(3){
        grid-row: 2/3;
        grid-column: 1/2;
        
        img{
          max-height: 5rem;
        }
      }

      &:nth-child(4){
        grid-row: 3/4;
        grid-column: 1/2;
        
        img{
          max-height: 5rem;
        }
      }
    }
  }

  .productPurchaseInfo{
    @include start_section(1.2rem);

    h1{
      font-size: 1.7rem;
      font-weight: 700;
      margin: 30px 20px;
    }

    a{
      text-transform: uppercase;
      color: $grey;
      margin: 20px;

      &:visited{
        color: $grey;
      }
    }

    p{
      margin: 20px;

      span{
        font-weight: 700;
      }
    }

    ul{
      margin-top: 80px;
      list-style: none;
      width: 98dvw;

      li{
        position: relative;
        //display: inline-block;
        @include flex;
        margin: 20px;
        height: 65px;

        button{
          display: flex;
          align-items: center;
          height: 70px;
          border: 1px solid black;
          cursor: pointer;

          &:nth-child(1){
            justify-content: center;
            padding: 15px;
            flex: 1;
            text-align: center;
            color: $white;
            background-color: $black;
          }

          &:nth-child(2){
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            margin-left: 20px;
            border: 1px solid $black;
            background-color: white;
            padding: 15px;

            i{
              font-size: 1.7rem;
              color: $white;
              -webkit-text-stroke-width: 3px;
              -webkit-text-stroke-color: $black;
            }

            &:focus{

              i{
                color: $black;
              }
            }
          }
        }

        #sizeButton{
          @include flex(row, space-between);
          padding: 12px 16px;  
          width: 100%;
          text-align: left;
          align-items: center;
          color: $black;
          background-color: $white;
          cursor: pointer;
          font-family: 'Host Grotesk', 'Faculty Glyphic', 'Roboto', sans-serif;
          font-weight: 400;
          
          i{
            font-size: 0.9rem;
          }
          
          &:hover, &:focus{
            border: 3px solid $black;
          }

          &:focus + ul{
            display: block;
          }
        }

        ul{
          width: 100%;
          display: none;
          position: absolute;
          background-color: $white;
          box-shadow: 0px 8px 16px 0px $lightGrey;
          z-index: 2;

          li{
            cursor: pointer;

            &:hover, &:focus{
              background-color: blue;
            }

            a{
              display: block;
              padding: 12px 16px;
              @include link_black;

              &:visited{
                @include link_black;
              }
            }
          }
        }
      }
    }}