body{

    .productImages{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     max-width: 100dvw;
     overflow: contain;
     //height: auto;
   
     .largeProductImages{
       //flex: 1;
       margin-left: 10px;
       order: 2;
       border: 3px solid black;
   
       img{
         max-width: 50%;
         height: auto;
       }
     }
   
     aside{
       max-width: 100px;
       order: 1;
       picture{
         max-width: 50%;
         image{
           max-width: 50%;
   
         }
       }
     }
    }
     
   }